body{
    background-color: rgb(229, 186, 213);
}

.header_div{
    background:rgb(228, 205, 203) ;
    color: rgb(54, 11, 133);
}

.header_div p{
font-family: "Roboto", sans-serif;
color: rgb(109, 3, 91);
letter-spacing: 2px;
font-weight: bold;
font-size: 12px;
}

.main_div button{
     font-family: 'Roboto', sans-serif;
     margin-top: 30px; width: 130px;
     font-weight: bolder; letter-spacing: 3px;
     }

.copy_right_footer{
    position: fixed;
    color: rgb(9, 3, 32);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(228, 205, 203) ;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);

}     